.selected-artist{
    width: 320px;
}
.breadcrumb{
    font-weight: 500;
    color: rgb(239, 239, 239);
    margin-bottom: 30px;
    cursor: pointer;
}

.events-section{
    width: 100%;
    height: fit-content;
}

.loading{
    width: 100%;
    text-align: center;
    font-size: calc(0.5em + 1vw);
    color: azure;
}

@media screen and (min-width:421px) {
    .artist-section{
        height: 12em;
    }
}
@media screen and (max-width:421px) {
    .artist-section{
        height: 20em;
    }
}