.searchbar {
  width: 50%;
  box-shadow: 5px 5px 17px -2px rgba(199, 199, 199, 0.59);
  height: 4em;
display: flex;
align-items: center;
justify-content: space-between;
box-sizing: border-box;
padding: 0px 20px;
  .search-input{
    border: none;
    font-weight: 600;
    font-size: 1em;
  }
  .search-input:focus{
    outline: none;
  }
  .search-icon{
    color: grey;
    height: 32%;
    width: fit-content;
  }
}
